{% extends 'blog/base.html' %}
{% block content %}

    <h1 class="posttitle">{{ post.title }}</h1>
        {% if post.published_date %}
        <div class="date postdate">
            {{ post.published_date }}
        </div>
        {% else %}
            <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
    {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'post_edit' pk=post.pk %}">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a class="btn btn-outline-danger" href="{% url 'post_delete' pk=post.pk %}">
            <i class="bi bi-x-circle-fill"></i>
        </a>
    {% endif %}

    <hr>

    <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    <div class="container">
        {% for comment in post.comments.all %}
        <br>
            {% if user.is_authenticated or comment.approved_comment %}
                {% if not comment.approved_comment %}
                    {{ comment.create_date }}
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p>Posted by: {{ comment.author }}</p>
                    <a class="btn btn-outline-success" href="{% url 'comment_approve' pk=comment.pk %}">
                        <span class="bi bi-check-circle-fill"></span>
                    </a>
                    <a class="btn btn-outline-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                        <span class="bi bi-x-circle-fill"></span>
                    </a>                        
                {% else %}
                    {{ comment.create_date }}
                    <a class="btn btn-outline-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                    <span class="bi bi-x-circle-fill"></span>
                    </a>
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p>Posted by: {{ comment.author }}</p>
                {% endif %}
            {% endif %}
            {% empty %}
            <p>No Comments</p>
        {% endfor %}
{% endblock %}

