{% extends 'blog/base.html' %}
{% block content %}
    <h1>New Post</h1>
    <form class="form-group" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    <!--This script is using the medium-editor widget that we imported from the site, this allows us to use various functions like 
    changing the text inside the textbox and so on-->
    <script>var editor = new MediumEditor('.editable');</script>

{% endblock %}