{% extends 'blog/base.html' %}
{% block content %}
<div class="centerstage">
    {% for post in post_list %}
    <hr>
    <div class="post-preview">
        <a href="{% url 'post_detail' pk=post.pk %}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.text|safe|truncatechars:50 }}</h3>
        </a>
        <p class="post-meta">
            posted by 
            <a>{{ post.author }}</a> 
            on {{ post.published_date|date:"D M Y" }}.
        </p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}


